name: Java CI Publish Docker Image

on: push

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Update submodule to latest
        run: |
          git submodule update --remote --merge

      - name: Get the tag name
        run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install SqlRender from local libs
        run: |
          mvn install:install-file \
            -Dfile=libs/SqlRender-1.19.4.jar \
            -DpomFile=libs/SqlRender-1.19.4.pom \
            -DgroupId=org.ohdsi.sql \
            -DartifactId=SqlRender \
            -Dversion=1.19.4 \
            -Dpackaging=jar
            
      - name: Build a container image from our Spring Boot app using Paketo.io / Cloud Native Build Packs
        run: |
          n=0
          until [ "$n" -ge 2 ]
          do
             mvn spring-boot:build-image -Dspring-boot.build-image.imageName=${{ env.REGISTRY }}/sevkohler/eos:latest && break
             n=$((n+1))
             echo "Build failed. Waiting 5 minutes before retry $n..."
             sleep 300
          done
          
          if [ "$n" -eq 2 ]; then
            echo "Build failed after 2 attempts."
            exit 1
          fi

      - name: Publish to GitHub Container Registry
        run: docker push ${{ env.REGISTRY }}/sevkohler/eos:latest
